confluentinc/kafka-connect-jdbc:10.7.4
jcustenborder/kafka-connect-spooldir:2.0.65
confluentinc/kafka-connect-avro-converter:7.6.0
debezium/debezium-connector-postgresql:1.8.0.Final
https://github-registry-files.githubusercontent.com/758056119/e9ac5f00-cc4d-11ee-940c-8ad234a5fec1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240219%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240219T073843Z&X-Amz-Expires=300&X-Amz-Signature=8aa83c6a5fc8cde6195fcfd2cb0db695c549389fbae0036fad5436a560bb19f4&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=758056119&response-content-disposition=filename%3Dschema-registry-transfer-smt-0.2.1-20240215.210137-1.jar&response-content-type=application%2Foctet-stream